pavucontrol.ini
QtProject.conf
kritadisplayrc
kritarc
qutebrowser/quickmarks
qutebrowser/autoconfig.yml
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
dleyna-renderer-service.conf
dleyna-server-service.conf
mimeapps.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
kdeglobals
okularpartrc
okularrc

pulse/
nvim/
gh/
gtk-3.0/
gtk-2.0/
Thunar/
xfce4/
obsidian/
dconf/
libreoffice/
Pinta/
nnn/
htop/
sqlitebrowser/
VirtualBox/
autostart/
evolution/
filemanager-actions/
gnome-builder/
gnome-control-center/
gtk-4.0/
nautilus/
simple-fb2-reader/
totem/
transmission/
udiskie/
gedit/
calibre/
session/
