pavucontrol.ini
QtProject.conf
kritadisplayrc
kritarc
qutebrowser/quickmarks
qutebrowser/autoconfig.yml

pulse/
nvim/
gh/
gtk-3.0/
gtk-2.0/
Thunar/
xfce4/
obsidian/
dconf/
libreoffice/
Pinta/
nnn/
htop/
