@import "colors.css";

/* =====================================================
 * Global
 * ===================================================== */
* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
	/* font-family: "FantasqueSansM Nerd Font Mono", "JetBrainsMono Nerd Font Propo", sans-serif; */

    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}



/* =====================================================
 * Waybar Window
 * ===================================================== */
window#waybar {
    background-color: @surfaceColorTransparent;
    transition: background-color .5s;
}

/* =====================================================
 * Shared module container
 * ===================================================== */
#custom-exit,
#language,
#pulseaudio,
#battery,
#clock,
#network,
#tray,
#bluetooth,
#custom-swaync {
    padding: 0 13px;
    margin: 5px;
    background-color: @mainBgColor;
	color: @fgColor;
}


#language {
    background-color: @surfaceColorTransparent;
}

/* =====================================================
 * Workspaces
 * ===================================================== */
#workspaces {
    padding: 0 13px;
    margin: 5px;
    background: @mainBgColor;
}

#workspaces button {
    padding: 0 5px;
    margin: 4px 3px;
    color: @fgColor1;
    transition: all .1s ease-in-out;
}

#workspaces button.active {
    color: @mainBgColor;
    background: @fgColor1;
}

#workspaces button:hover {
    color: @mainBgColor;
    background-color: @fgColor3;
}

#workspaces button.urgent {
    background: @urgentColor;
    color: @fgColorDark;
}

/* =====================================================
 * Tooltip
 * ===================================================== */
tooltip {
    background-color: @mainBgColor;
    opacity: 0.9;
    padding: 20px;
}

tooltip label {
    color: @fgColor;
}

/* =====================================================
 * Clock
 * ===================================================== */
#clock {
    color: @fgColor2;
}

#clock:hover {
    background-color: @fgColor2;
    color: @mainBgColor;
}

/* =====================================================
 * Battery
 * ===================================================== */
#battery {
    color: @fgColor3;
}

#battery:hover {
    background-color: @fgColor3;
    color: @mainBgColor;
}

#battery.critical:not(.charging) {
    background-color: @urgentColor;
    color: @fgColorDark;
    animation: blink .5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: @bgColorLight;
        color: @fgColorDark;
    }
}

/* =====================================================
 * Pulseaudio
 * ===================================================== */
#pulseaudio {
    color: @fgColor4;
}

#pulseaudio:hover,
#custom-swaync:hover {
    background-color: @fgColor4;
    color: @mainBgColor;
}

/* =====================================================
 * Network
 * ===================================================== */
#network {
    color: @fgColor5;
}

#network:hover {
    background-color: @fgColor5;
    color: @mainBgColor;
}

#network.disconnected {
    background-color: @urgentColor;
    color: @surfaceColor;
}

/* =====================================================
 * Bluetooth
 * ===================================================== */
#bluetooth {
    color: @fgColor6;
}

#bluetooth:hover {
    background-color: @fgColor6;
    color: @mainBgColor;
}

/* =====================================================
 * Tray
 * ===================================================== */
#tray {
    color: @fgColor1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    background-color: @urgentColor;
    -gtk-icon-effect: highlight;
}

/* =====================================================
 * Custom modules
 * ===================================================== */
#custom-exit {
    color: @tomatoColor;
}

#custom-exit:hover {
    background-color: @tomatoColor;
    color: @mainBgColor;
}

#custom-pomodoro {
    color: @fgColor2;
}

#custom-pomodoro:hover {
    color: @fgColor3;
}
